.course-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.course-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 4px;
}

.course-subtitle {
    color: #6c757d;
    margin: 0;
}

.back-dashboard-btn {
    border: 1px solid #0d6efd;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: 500;
    color: #0d6efd;
    text-decoration: none;
    transition: 0.2s;
}

.back-dashboard-btn:hover {
    background: #0d6efd;
    color: white;
}

.modules-wrapper {
    max-width: 900px;
    margin: auto;
}
